html{
    scroll-behavior: smooth;
}

*{
    color: #030303;
}

body{
    font-family: "inter";
    margin: 80px;
}

header{
    margin-bottom: 200px;
    text-align: center;
}

a{
    transition: 0.5s;
}

a:hover{
    color: blueviolet;
}

header p{
    font-size: 18px;
}

header a{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

article{
    font-size: 36px;
    margin-bottom: 400px;
    text-align: center;
}

article a{
    font-weight: bold;
}

nav{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 400px;
}

nav a{
    font-size: 52px;
}

main{
    margin-bottom: 400px;
}

main a{
    display: block;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 80px;
    text-decoration: none;
    transition: 0.5s;
}

main a:hover{
    font-size: 120px;
}

.article img{
    height: 400px;
    width: 520px;
}

.tools{
    text-align: center;
}

.tools h1{
    font-size: 90px;
}

.tools p{
    font-size: 16px;
}

.toolsIcon{
    align-items: center;
    display: flex;
    justify-content: center;
}

.tools img{
    height: 100%;
    margin: 20px;
    width: 120px;
}

input{
    height: 24px;
    width: 320px;
}

footer{
    margin-top: 200px;
    text-align: center;
}

footer a{
    color: #030303;
    font-weight: bold;
    text-decoration: none;
}

footer p{
    font-size: 12px;
}

.linkedinIcon{
    border-radius: 8px;
    height: 40px;
    width: 40px;
}